.team-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-image {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.team-content {
  flex-grow: 1;
}